.Rproj.user
.Rhistory
.RData
pkg/.Rproj.user
pkg/.Rhistory
pkg/.RData
pkg/src/*.o
pkg/src/*.dll
test/.Rproj.user
test/.Rhistory
test/base_testing_v20201216/.Rproj.user
test/base_testing_v20201216/.Rhistory
test/base_testing_v20201216/.RData
test/base_testing_v20201216/.Ruserdata
test/base_testing_v20201216/01_input
test/base_testing_v20201216/02_protocol/.Rproj.user
test/base_testing_v20201216/02_protocol/.Rhistory
test/base_testing_v20201216/02_protocol/.Rdata
test/base_testing_v20201216/04_product
